[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "==3.4.3"
httpx = "==0.28.1"
beautifulsoup4 = "==4.12.3"
openai = "==1.60.1"
pymupdf = "*"
fastapi = {extras = ["standard"], version = "*"}
backoff = "*"

[dev-packages]

[requires]
python_version = "3.13"
