[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "*"
httpx = "*"
beautifulsoup4 = "*"
openai = "*"
pypdf = "*"
pymupdf = "*"
fastapi = {extras = ["standard"], version = "*"}
backoff = "*"

[dev-packages]

[requires]
python_version = "3.13"
